<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>New Event Requested</title>
    </head>
    <body>
        <h3>Name: </h3>
            <p>
                <%= eventInfo.name || 'Not provided'%>
            </p>
        <h3>Email: </h3> 
            <p>
                <%= eventInfo.email || 'Not provided'%>
            </p>
        <h3>Phone Number: </h3>
            <p>
                <%= eventInfo.phone || 'Not provided'%>
            </p>
        <h3>Event Date: </h3>
            <p>
                <%= eventInfo.date || 'Not provided'%>
            </p>
        <h3>Event Time: </h3>
            <p>
                <%= eventInfo.time || 'Not provided' %>
            </p>
        <h3>Estimated Number of People: </h3>
            <p>
                <%= eventInfo.people || 'Not provided' %>
            </p>
        <h3>Type of Event: </h3>
            <p>
                <%= eventInfo.type || 'Not provided' %>
            </p>
        <h3>Location: </h3>
            <p>
                <%= eventInfo.location || 'Not provided' %>
            </p>
        <h3>How they heard about us: </h3>
            <p>
                <%= eventInfo.hear || 'Not provided' %>
            </p>
        <h3>Additional Comments: </h3>
            <p>
                <%= eventInfo.comments || 'Not provided' %>
            </p>
    </body>
</html>